<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.where(:id => @game.category_id).first.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Average rating:</strong>
  <%= round(@game.average_rating) %>
</p>

<table>
	<th></td>
	<th></th>
  <th></th>
	<tr>
	<% @reviews.each do |review| %>
	    <td>User: <% if review.user.blank? %><%= "Anonymous" %><% else %><%= review.user %><% end %></td>
      <td>Rating: <%= review.rating %></td>
      <td><b>Review: </b><%= review.text %></td>
	</tr>
<% end %>
</table>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
