<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<strong>Games in this category:</strong>
<br />

<table>
	<th></td>
	<th></th>
	<tr>
	<% @games.each do |game| %>
	<td><%= link_to game.name, game %></td>
    <td><b>Description: </b><%= game.description %></td>
	</tr>
<% end %>
</table>


<br />

<%= link_to 'Back', categories_path %>
